@charset "UTF-8";

:root {
    --cor1: #c9e0a861;
    --cor2: #9AE038;
    --cor3: #697A50;
}

body {
    background-color: var(--cor1);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--cor2);
    height: 170px;
    border-bottom: solid 1px black;
}

header > h1 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.448);
}

main {
    background-color: white;
    max-width: 900px;
    margin: auto;
    margin-top: -60px;
    padding: 20px;
}


main h2 {
    text-align: center;
    padding: 20px;
    border-bottom: solid 2px var(--cor1);
}

.principal {
    padding: 15px 0px 15px 0px;
}

.principal input {
    display: block;
    border: none;
    border-bottom: 2px solid var(--cor1);
    width: 65%;
    height: 35px;
}

.principal div {
    margin-top: 10px;
}

.cambio label {
    margin-bottom: 20px;
}

.opcionais {
    columns: 2;
}

.titulo-opt {
    padding-bottom: 10px;
}

.foto {
    padding-top: 15px;
    border-bottom: 2px solid var(--cor1);
}

.foto label, input {
    padding-bottom: 10px;
}
.foto input {
    height: 20px;
}

.submit {
    padding-top: 20px;
}

.submit input {
    width: 150px;
    height: 50px;
    color: white;
    border: none;
    background-color: var(--cor3);
    transition-duration: 0.3s;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.submit input:hover {
    font-weight: bolder;
    color: var(--cor1);
    background-color: var(--cor3);
    box-shadow: 0px 0px 10px var(--cor2);

}

.required_element {
    color: red;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0.1px;
    text-align: center;
    margin: auto;
}
footer a {
    color: white;
    text-decoration: none;
    transition-duration: 1s;
}

footer a:hover {
    color: lightgray;
    text-decoration: underline;
}