@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

.celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    width: 311px;
    height: 627px;

}

#tela {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 268px;
    height: 470px;
}

.redes-sociais img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    display: block;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.244);
    transition-duration: 0.3s;
}

.redes-sociais {
    position: absolute;
    right: 0px;
    box-sizing: border-box;
}

.redes-sociais img:hover {
    height: 55px;
    width: 55px;
    border: 2px solid rgba(245, 245, 245, 0.682);
}
