@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

.main-container {
    display: flex;
    margin-top: 30px;
}

.celular, .interactive {
    flex: 1 1 0;
    width: 50%;
}

.celular{
    text-align: right;
}

.celular img {
    width: 100%;
    margin-right: 15px;
    margin-top: 25px;
    max-width: 380px;
}

.interactive {
    margin-top: 35px;
    text-align: center;
}

.login {
    border: 1px solid lightgray;
    width: 360px;
    height: 420px;
}

.login img {
    max-width: 180px;
    margin-top: 50px;
}

form input {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 280px;
    border: 1px solid grey;
    border-radius: 3px;
}

form input[type="text"] {
    margin-top: 35px;
    margin-bottom: 10px;
}

form input[type="password"] {
    margin-bottom: 15px;
}
form input[type="submit"] {
    margin-bottom: 10px;
    height: 35px;
    border: none;
    background-color: #4CB5F9;
    color: #fafafa;
    font-weight: bold;
    cursor: pointer;
}

.facebook-login {
    margin-top: -30px;
    margin-bottom: 20px;
}

.facebook-login img {
    width: 14px;
    height: 14px;
}

.facebook-login span {
    color: #385195;
    font-weight: bold;
    cursor: pointer;
}

.forgot a {
    color: grey;
    font-size: 12px;
    text-decoration: none;
}

.cadastro {
    width: 360px;
    border: 1px solid lightgray;
    margin-top: 15px;
    padding: 20px;
    font-size: 14px;
}

.cadastro a {
    color: #0095F6;
    text-decoration: none;
    font-weight: bold;
}

.download {
    margin-top: 15px;
    width: 360px;
}

.download img {
    width: 40%;
    margin-top: 15px;
}