@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

header {
    background-color: black;
    color: white;
    position: relative;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header h1 {
    font-family: "Passion One", sans-serif;
    font-size: 7vw;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


header a:hover {
    text-decoration: underline;
}

main section > p {
    padding: 30px 0 30px 30px;
    font-family: "Playpen Sans", cursive;
    font-size: 3vw;
    line-height: 2.5em;
    font-weight: bold;
}

.first, .three, .five {
    background-color: white;
    /* max-height: 1000px; */
}

.first p, .three p, .five p{
    margin: 20px;
}

.second {
    background-image: url("../img/background001.jpg");
    background-size: cover;
    color: white;
    background-position: left center;
    background-attachment: fixed;
}

.second p {
    background-color: rgba(00, 00, 00, 0.5);
    max-width: 15em;
    margin: 20px;
    max-height: 20em;
    padding: 20px;
}


.four {
    background-image: url("../img/background002.jpg");
    background-size: cover;
    color: white;
    background-position: left center;
    background-attachment: fixed;
}

.four p {
    background-color: rgba(00, 00, 00, 0.5);
    max-width: 15em;
    margin: 20px;
    max-height: 20em;
    padding: 20px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    font-variant: normal;
}
