@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0A1128;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
}

header {
    z-index: 1;
    display: flex;
    height: 80px;
    width: 100%;
    /* background-color: green; */
    justify-content: center;
    border-bottom: 1px solid lightgray;
    position: fixed;
    background-color: #fafafa;
}
.nav-bar {
    /* background-color: red; */
    width: 80vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar > a {
    text-decoration: none;
    color: #0A1128;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    padding-left: 40px;
}

nav ul li a {
    color: #0A1128;
    text-decoration: none;
    font-size: 18px;
}

/* main*/

main section {
    min-height: 100vh;
}

.margem {
    display: block;
    height: 80px;
    width: 100%;
    background-color: #0A1128;
}

/* intro */
main #intro {
    background-image: url(../img/main-bg.svg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    display: block;
}

.intro-container {
    display: flex;
    flex-direction: row;
    width: 80vw;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

#intro img {
    width: 50vw;
    padding-left: 30px;
}

#intro .text {
    max-width: 500px;
}

#intro .text > p {
    color: #fafafa;
    font-size: 25px;
    margin-bottom: 50px;
}

#intro .text > h1 {
    font-size: 55px;
    padding: 50px 0 50px 0;
    color: #fafafa;
}



/* top3 */

main #top3, #pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .top3-container, .pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    max-width: 800px;
    padding: 10px;
}

#top3 h2, .pricing h1 {
    padding: 50px;
    font-size: 40px;
    color: #0A1128;
}

#top3 p, .pricing p {
    color: #0A1128;
    font-size: 23px;
    text-align: center;
    padding-bottom: 50px;
}

/* top */

.top {
    background-image: url(../img/main-bg.svg);
    background-position: center center;
    background-size: cover;
}

.topcontainer {
   width: 80vw;
   margin: auto;
}

.topcontainer p {
    color: #fafafa;
    font-size: 25px;
}

.topcontainer h1 {
    color: white;
    font-size: 40px;
    padding-top: 80px;
    padding-bottom: 20px;
}

/* GRIDSECTION */

.gridsection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 70px;
}

.gridsection h1 {
    font-size: 30px;
}

.gridsection h1#first::before {
    content: "1 ";
    font-size: 60px;
    font-style: italic;
}

.gridsection h1#second::before {
    content: "2 ";
    font-size: 60px;
    font-style: italic;
}

.gridsection h1#third::before {
    content: "3 ";
    font-size: 60px;
    font-style: italic;
}

/* gallery */

.gallerycontainer {
    width: 80vw;
    margin: auto;
}

.gallerycontainer h1 {
    font-size: 55px;
    padding-top: 70px;
    padding-bottom: 20px;
}

.gallerycontainer p {
    font-size: 25px;
}

.gridgallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding-bottom: 70px;
    padding-top: 70px;
    text-align: center;
    z-index: 0;
}

.gridgallery img {
    max-width: 100%;
    max-width: 100%;
    transition: 300ms;
}

.gridgallery img:hover {
    transform: scale(1.1) rotate(5deg);
}

/* work */
#work {
    background-image: url(../img/main-bg.svg);
    background-position: center center;
    background-size: cover;
}

/* pricing */
.reponsive-table table {
    text-align: left;
    width: 50vw;    
    border-collapse: collapse;
    font-size: 25px;
}

.reponsive-table table td, .reponsive-table table th {
    border: 1px solid lightgray;
    padding: 3px;
}

.reponsive-table table th {
    background-color: lightgray;
    color: #0A1128;
}

table caption {
    font-size: 18px;
    font-style: italic;
    text-align: left;
    padding-bottom: 5px;
}
/* contact */

#contact {
    background-image: url(../img/main-bg.svg);
    background-position: center center;
    background-size: cover;
}

/* footer */

footer {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    flex-direction: column;
    border-top: 1px solid lightgray;
}

footer p {
    color: #0A1128;
    padding: 10px;
}

footer a {
    color: #0A1128;
    text-decoration: none;
}

/* responsividade */

@media screen and (max-width: 800px) {
    .margem {
        display: none;
    }

    header{
         display: none;
    }

    .intro-container {
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    #intro img {
        width: 80vw;
        padding-left: 0px;
        padding-bottom: 30px;
    }

    #intro h1, #intro p {
        text-align: center;
    }

    .gridsection {
        display: block;
    }

    .gridgallery {
        display: block;
    }

    .gridgallery img {
        padding-bottom: 20px;
        width: 80vw;
    }

    .gallerycontainer h1 {
        font-size: 55px;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .reponsive-table table {
        width: 95vw;    

    }
    
}