@charset "UTF-8";

* {
    border: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #00ff43;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    position: fixed;
}
  
header .logo {
    float: left;
}
  
header img {
    height: 50px;
    padding: 10px;
}
  
header .nav-links {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
header .nav-links li {
    display: inline-block;
}
  
header .nav-links li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border: 1px solid transparent;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 20px;
    transition-duration: 0.5s;
}
  
header .nav-links li a:hover {
    background-color: #00000027;
    border-color: black;

}

.imagem01 {
    background-image: url(../img/005.jpg);
    width: 100%;
    height: 30vw;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 300px;
}
.imagem02 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.imagem02 h1, .imagem02 p {
    font-size: 4vw;
    width: 100%;
    color: #eee;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.444);
    
}

.text {
    background-color: #0000008a;
    width: 80vw;
    padding: 20px;
    border-radius: 20px;
}

/* beneficios */

.beneficios {
    padding: 5rem 0;
}

.beneficios p {
    color: #000;
    font-size: 1em;
    text-shadow: none;
    line-height: 24px;
}

.beneficios ul {
    display: flex;
    list-style-type: none;
    width: 90%;
    margin: 0 auto;
}

.beneficios li {
    flex: 1 1 200px;
    text-align: center;
    padding: 20px;
}

.material-symbols-outlined {
    font-size: 4em;
    padding-top: 20px;
    background-color: #2cc76a;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-bottom: 20px;
    color: black;
}

.beneficios h3 {
    padding-bottom: 25px;
}

/* pricing */

.pricing {
    text-align: center;
    padding-bottom: 5rem;
}

.pricing ul {
    list-style-type: none;
    padding: 25px;
}

.pricing li {
    height: 50px;
    background-color: #e8e9ea;
    color: #333;
    line-height: 50px;
}

.pricing h2 {
    font-size: 2.3em;
}

.pricing p {
    font-size: 1.2em;
}

.plan-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}

.plan {
    flex: 1;
    max-width: 275px;
}

.plan .price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2cc762;
    color: white;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    position: relative;
    font-size: 1.2em;
}

.plan .plan-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #202b34;
    padding: 50px 0;
    padding-bottom: 0;
}

.plan .plan-btn {
    background-color: #2cc762;
    color: #fff;
    font-size: 20px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}

.plan .recommended  {
    background-color: #f45c57;
}

/* search domain */

.searchdomain-container {
    background-color: #34454e;
    text-align: center;
    padding: 5rem 0;
}  

.searchdomain-container h2 {
    color: white;
    font-size: 2em;
    margin-bottom: 15px;
}

.searchdomain-container p {
    color: #d5d5dd;
    font-size: 1.1em;
    margin-bottom: 25px;
}

.searchdomain-container input{
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
} 

.searchdomain-container input[type="text"] {
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
}

.searchdomain-container input[type="submit"] {
    background-color: #2cc76a;
    padding: 15px 30px;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    opacity: .8;
}

.searchdomain-container input[type="submit"]:hover {
    opacity: 1;
}

/* contact form */
.contact-container {
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.contact-container h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.contact-container p {
    font-size: 1.2em;
    margin-bottom: 40px;
    padding: 5px;
}

.contact-container input, .contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
}

.contact-container textarea {
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
}

.contact-container input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #2cc76a;
    color: #fff;
    cursor: pointer;
    opacity: .8;
}

.contact-container input[type="submit"]:hover {
    opacity: 1;
}

/* footer */

footer {
    text-align: center;
    margin: 20px 0 100px;
    font-weight: bold;
    color: #505050;
    font-size: .9em;
}

footer a {
    color: #3a3a3a;
    text-decoration: none;
    
}

/* responsive */

/* small laptops a partir de 1110px */
@media screen and (max-width: 1110px) {
    
    .plan-container {
        width: 95%;
    }

    .plan {
        margin: 0 0px;
    }

}

/* tablet 900x */

@media screen and (max-width: 900px) {
    .plan-container {
        display: inline-block;
        columns: 2;
    }

    .plan {
        margin: auto;
        width: 50vw;
    }
}

/*  celulares 600px */

@media screen and (max-width: 600px) {
    .plan-container {
        display: inline-block;
        columns: 1;
    }

    .plan {
        margin: auto;
        width: 100vw; 
        box-sizing: border-box;
    }
    .beneficios {
        display: block;
        columns: 1;
    }

    .li {
        margin: auto;
        width: 100vw; 
        box-sizing: border-box;
    }

    .contact-container input, .contact-container textarea {
        display: block;
        width: 80vw;
        margin: 10px auto;
    }
}